body {
  font-family: Arial;
  background: linear-gradient(135deg, #a1ffce, #faffd1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

button {
  background: #009688;
  color: white;
}