body {
  font-family: Arial;
  background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

button {
  background: #3f51b5;
  color: white;
}