body {
  font-family: Arial;
  background: linear-gradient(135deg, #fddb92, #d1fdff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

button {
  background: #ff5722;
  color: white;
}